
*.ckpt
*.txt
*.txt
*.xml
*.iml
*.pyc
*.iml
.idea/lstm_pos_tagger.iml
.idea/misc.xml
lstm_my
model_lstm_v2
temp2.py
temp.py
validate.py
.idea/lstm_pos_tagger.iml
model_lstm
BiLSTM/.vector_cache/glove.6B.100d.txt.pt
BiLSTM/.data/udpos/en-ud-v2.zip
BiLSTM/model1.pt
BiLSTM/.vector_cache/glove.6B.zip
